.hidden {
  display: none;
}

.searchbox.singleGame {
  display: none;
}

body {
  background-color: #4b6587;
  color: #c8c6c6;
  font-family: Verdana, Geneva, Tahoma, sans-serif;

  width: 100%;
  position: relative;
}

.nav {
  cursor: pointer;
}

.mainpage {
  margin-top: 5%;
  margin-bottom: 5%;
  width: 85%;

  background-color: rgba(0, 0, 0, 0.6);
  padding: 80px;
  padding-top: 30px;
  border-radius: 30px;

  position: absolute;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
}

.navbar {
  font-size: 24px;

  width: 100%;
  height: 65px;
  display: flex;
  justify-content: space-between;
}

.navbar .navbar-left {
  width: 25%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
}

.navbar-right img {
  height: 25px;
}

.navbar .navbar-right {
  width: 15%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.container {
  margin-top: 25px;
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.searchbox {
  align-items: flex-start;
  background-color: rgba(0, 0, 0, 0.2);
  margin-right: 20px;
  border-radius: 20px;
  padding: 45px;
  flex: 1;
  max-width: 500px;
  min-height: 600px;
  max-height: 1020px;
  display: flex;
  flex-direction: column;
  position: relative;
}

.mobileSearch {
  display: none;
  width: 450px;
  height: 1020px;
  position: absolute;
  top: 35px;
  left: 38px;
  background-color: #0f131a;
  z-index: 2;
}

.searchbox .menuIcon {
  font-size: 24px;
  position: absolute;
  top: 15px;
  left: 42px;
}

.search-title {
  color: rgba(145, 189, 255, 0.918);
  font-weight: 700;
  font-size: 24px;
  height: 15%;
}

.search-fields {
  width: 100%;
}

.search-fields.gameTags {
  height: 30%;
}

.search-fields.gameGenres {
  height: 30%;
}

.search-fields.gameName-Id {
  height: 15%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.search-fields.gameName-Id input {
  border-radius: 10px;
  height: 50px;
  padding-left: 15px;
}

.search-fields ul {
  width: 100%;
  height: 85%;
  display: flex;
  flex-wrap: wrap;
}

.search-fields ul li {
  text-transform: capitalize;

  width: 50%;
  margin-bottom: 15px;

  display: flex;
  align-items: center;
}

.priceFilter {
  width: 100%;
  height: 25%;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.search-fields.Price {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.inputPrice {
  width: 100%;
  height: 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.input-pricebox {
  border: 0.5px;
  border-radius: 10px;
  width: 45%;
  height: 100%;
  text-align: center;
}

.applyFilter {
  border: 0.5px;
  border-radius: 25px;
  width: 100%;
  height: 50px;
}

/* check box */
.checkbox {
  width: 1rem;
  height: 1rem;
  border-radius: 0.4rem;
}

.checkbox-title {
  flex: 1;
  margin-left: 10px;
  font-size: 18px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

/* ----------gameList----------- */
.gameCategory {
  flex: 1;
  max-width: 1100px;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.gameCategory.singleGame {
  max-width: none;
}
/* ----gameFeature----- */
.gameFrontPage-wrapper {
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  border-radius: 20px;
}

.gameFrontPage {
  width: 100%;
  height: 100%;
  padding-bottom: 20px;
}

.featureGameImg-wrapper > img {
  border-radius: 20px;
  width: 100%;
  height: auto;
  object-fit: cover;
}

/* ----gameList----- */
.gameList {
  flex: 1;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.gameList.home {
  padding-top: 20px;
}

.gameList.singleDetail {
  max-width: none;
  width: 100%;
  height: auto;
}

.gameList.singleDetail .gameCard {
  max-width: none;
  width: 100%;
  height: auto;
}

.gameList.singleDetail .gameImg-wrapper {
  padding-bottom: 50%;
}

.gameList.singleDetail .gameContent {
  max-width: none;
}

.gameList.searchGameList {
  width: 100%;
  height: auto;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: auto;
  gap: 20px;
  grid-template-areas:
    "headerCard headerCard headerCard"
    ". . ."
    ". . ."
    ". . .";
}

.gameList.searchGameList li:first-child {
  grid-area: headerCard;
}

.gameList.searchGameList > li {
  width: auto;
}

.gameList .gameCard {
  text-transform: capitalize;
  font-size: 20px;
  font-weight: 300;
  line-height: 30px;

  background-color: rgba(0, 0, 0, 0.2);
  border-radius: 20px;
  padding: 25px;
  width: 27.5%;
  height: 495px;

  display: flex;
  flex-direction: column-reverse;
}

.gameList.searchGameList .gameCard:first-child .gameImg-wrapper {
  padding-bottom: 0;
  height: 500px;
}

.gameList.searchGameList .gameCard:first-child .gameContent {
  max-width: 100%;
  width: 100%;
}

.gameImg-wrapper {
  width: 100%;
  padding-bottom: 100%;
  border-radius: 20px;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}

.gameContent {
  max-width: 300px;
  margin-top: 2%;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.gameName {
  font-size: 24px;
  font-weight: 700;
  color: rgba(145, 189, 255, 0.918);
}

.gamePlatform,
.gameDev {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.gamePrice {
  font-weight: 300;
  font-size: 20px;
  color: rgba(145, 189, 255, 0.918);
}

.gameList .gameFooter {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.btn {
  border: none;
  background-color: rgba(96, 147, 214, 0.808);
  color: white;
  font-weight: 200;
  font-size: 18px;
}

.btn-buy {
  padding: 15px 75px;
  /* height: 50px; */
  border-radius: 25px;
}

.search-fields li:hover {
  filter: brightness(120%);
}

.btn:hover {
  filter: brightness(110%);
}

.btn:active {
  box-shadow: inset 0px 0px 5px 0px #000000;
}

.fadeIn {
  animation: fadeIn 3s;
}

.fade10s {
  animation: fadeInOut 10s;
}

.fade12s {
  animation: fadeInOut 12s;
}

@keyframes fadeInOut {
  0% {
    opacity: 0;
  }
  25% {
    opacity: 0.8;
  }
  50% {
    opacity: 1;
  }
  75% {
    opacity: 0.8;
  }
  100% {
    opacity: 0;
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes fadeOut {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

@media screen and (max-width: 1600px) {
  .hidden {
    display: block;
  }

  .mainpage {
    max-width: 1100px;
  }
  .gameCategory {
    max-width: 1100px;
  }

  .navbar .navbar-left {
    width: 350px;
  }

  .navbar .navbar-right {
    width: 200px;
  }
  .searchbox {
    display: none;
  }
  .searchbox.mobileSearch {
    display: block;
  }

  .blur {
    width: 100vw;
    height: 100vh;
    position: absolute;
    z-index: 1;
    background-color: white;
  }
}

@media screen and (max-width: 1200px) {
  .mainpage {
    max-width: 900px;
  }

  .gameList.searchGameList {
    grid-template-columns: 1fr 1fr;
    grid-template-areas:
      "headerCard ."
      ". . "
      ". . "
      ". . "
      ". . ";
  }

  .gameList .gameCard {
    height: 570px;
  }
}

@media screen and (max-width: 900px) {
  .mainpage {
    max-width: 460px;
  }

  .gameList.home .gameCard {
    width: 37%;
  }

  .btn-buy {
    padding: 10px 35px;
    /* height: 40px; */
    border-radius: 18px;
  }

  .gameList.home .gameCard {
    height: 450px;
  }

  .gameList.home .gameCard:last-child {
    display: none;
  }

  .gameList.searchGameList {
    grid-template-columns: 100% ;
    grid-template-areas:
    "headerCard"
    ".";
}}

@media screen and (max-width: 469px) {
  .mainpage {
    max-width: 350px;
    margin-top: 2%;
    padding: 20px;
    padding-top: 15px;
    border-radius: 10px;
  }

  .navbar {
    font-size: 14px;
    height: 25px;
  }

  .navbar-right img {
    height: 18px;
  }

  .container {
    margin-top: 5px;
  }

  .gameFrontPage-wrapper {
    margin-top: 10px;
  }

  .gameList.home {
    padding-top: 20px;
  }

  .gameList.home .gameCard {
    width: 100%;
    margin-bottom: 20px;
  }

  .gameList.home .gameCard:last-child {
    display: flex;
  }

  .mobileSearch {
    padding: 45px 15px 15px;
    width: 92%;
    top: 0;
    left: 0;
  }

  .searchbox .menuIcon {
    font-size: 14px;
    top: 21px;
    left: 20px;
  }

  .mobileSearch li {
    margin-bottom: 0px;
  }

  .checkbox {
    width: 14px;
    height: 14px;
    border-radius: 2px;
  }

  .checkbox-title {
    font-size: 14px;
    margin-left: 5px;
  }

  .gameList.singleDetail .gameContent {
    max-width: 300px;
  }

  .btn-buy {
    padding: 10px 50px;
    border-radius: 18px;
  }
}
:root {
  --swiper-pagination-color: #007aff;
  --swiper-pagination-bullet-size: 16px;
  --swiper-pagination-bullet-width: 16px;
  --swiper-pagination-bullet-height: 16px;
  --swiper-pagination-bullet-inactive-color: #000;
  --swiper-pagination-bullet-inactive-opacity: 0.2;
  --swiper-pagination-bullet-opacity: 1;
  --swiper-pagination-bullet-horizontal-gap: 6px;
  --swiper-pagination-bullet-vertical-gap: 8px;
}
