.hidden {
  display: none;
  transition: 0.3s;
}

body {
  background-color: #4b6587;
  color: #c8c6c6;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  padding: 120px 100px;
}

.nav {
  cursor: pointer;
}

.nav:hover {
  color: rgba(96, 147, 214, 0.808);
  transition: 0.3s;
}

.mainpage {
  background-color: rgba(0, 0, 0, 0.6);
  padding: 80px;
  border-radius: 30px;
}

.navbar {
  font-size: 24px;

  width: 100%;
  height: 65px;
  display: flex;
  justify-content: space-between;
}

.navbar .navbar-left {
  height: 100%;
  width: 450px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar-right img {
  height: 25px;
}

.navbar .navbar-right {
  width: 230px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.navShoppingCart,
.navWishlist {
  height: 100%;
}

.container {
  margin-top: 25px;
  width: 100%;
  height: 1100px;
  display: flex;
  justify-content: space-between;
}

/* search area */

.searchbox {
  align-items: flex-start;
  background-color: rgba(0, 0, 0, 0.2);
  margin-right: 15px;
  border-radius: 20px;
  width: 450px;
  height: 1100px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.searchbox .search-fields {
  margin: 40px 30px 30px;
  position: relative;
}

.search-title {
  color: rgba(145, 189, 255, 0.918);
  font-weight: 600;
  font-size: 22px;
  margin-bottom: 10px;
}

.searchbox .search-fields li {
  width: 100%;
  height: 20px;
  padding-top: 10px;
  /* margin-bottom: 10px; */
  display: flex;
  flex-direction: row-reverse;
  justify-content: flex-end;
  align-items: center;
}

.inputPrice {
  margin-top: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.input-pricebox {
  border: 0.5px;
  border-radius: 10px;
  width: 160px;
  height: 50px;
  text-align: center;
}

.applyFilter {
  border: 0.5px;
  border-radius: 25px;
  margin: 5px 20px 40px;
  width: 410px;
  height: 50px;
}

/* check box */
.checkbox.categories-input {
  width: 1rem;
  height: 1rem;
  border-radius: 0.25rem;
}

.checkbox-title {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

/* Game List */

.gameCategory {
  width: 100%;
  height: 100%;
}

.gameCategory {
  flex: 1;
  align-items: flex-end;
}

.gameFrontPage {
  background-color: rgba(0, 0, 0, 0.2);
  border-radius: 20px;
  width: 100%;
  height: 55%;
  margin-bottom: 20px;
  display: block;
}

.gameList {
  border-radius: 20px;
  flex: 1;
  width: 100%;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: center;
}

.gameList .gameDescript {
  background-color: rgba(0, 0, 0, 0.2);
  border-radius: 20px;
  width: 320px;
  height: 475px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.gameList .gameDescript .gameImg {
  /* background-color: blanchedalmond; */
  border-radius: 20px;
  width: 280px;
  height: 280px;
  margin-top: 20px;
  margin-left: 20px;
}

.gameName {
  font-size: 24px;
  font-weight: 500;
  color: rgba(145, 189, 255, 0.918);
}

.gameName,
.gamePlatform,
.gameFooter,
.gameImg {
  margin-left: 20px;
  position: relative;
  z-index: 1;
}

.gameName,
.gamePlatform {
  margin-right: 20px;
  text-transform: capitalize;
}

.gamePrice {
  font-weight: 300;
  font-size: 20px;
  color: rgba(145, 189, 255, 0.918);
}

.gameList .gameFooter {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: 50px;
  margin-bottom: 20px;
  margin-right: 20px;
}

.btn-buy {
  width: 200px;
  height: 50px;
  border-radius: 25px;
}

.btn {
  background-color: rgba(96, 147, 214, 0.808);
  color: white;
  font-weight: 200;
  font-size: 18px;
}

.btn:hover {
  filter: brightness(110%);
}

.btn:active {
  box-shadow: inset 0px 0px 5px 0px #000000;
}

.ulgameFrontPage {
  position: relative;
}

.imgFrontPage {
  width: 100%;
  height: 605px;
  border-radius: 20px;
  object-fit: cover;
  position: absolute;
  left: 0;
  top: 0;
}

.gameImg {
  height: 280px;
  border-radius: 20px;
  object-fit: cover;
}

.search-fields.Categories ul {
  text-transform: capitalize;

  width: 200px;
  height: 400px;
  display: flex;
  flex-wrap: wrap;
  flex-basis: 10px;
  flex-direction: column;
}

.search-fields.Platform ul {
  text-transform: capitalize;

  width: 200px;
  height: 60px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: space-between;
}

.search-fields.GameType ul {
  text-transform: capitalize;

  width: 201px;
  height: 150px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: space-between;
}

.search-fields li:hover {
  filter: brightness(120%);
}
